<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-12">
    <ul>
        <li>
            <h1>2008 - Actualmente:</h1>
            <p>Servicio de Radiología de Centro Médico San Martín. Esperanza, Santa Fe</p>
        </li>
    </ul>
    <ul>
        <li>
            <h1>2010 </h1> <h3>(6 meses de duración)</h3>
            <p>Pasantías en Resonancia Magnética Nuclear y Tomografía Axial Computada
                en Sanatorio de Seguridad Social Rosendo García. Rosario, Santa Fe.</p>
        </li>
    </ul>    
    <ul>
        <li>
            <h1>2012 - Actualmente:</h1>
            <p>Servicio de Resonancia Magnética Nuclear de IDESA. Esperanza, Santa Fe.</p>
        </li>
    </ul>

    </div>
</div>
