<div class="row">
    <h1>Hard & Soft Skills</h1>

    <div class="col-lg-11">
        <button type="button" class="btn btn-dark" routerLink="/nuevahys" *ngIf="isLogged">
            Agregar Hard & Soft Skills
        </button>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let Skill of hys">
        <circle-progress
            [percent]="Skill.progreso"
            [radius]="75"
            [imageSrc]="Skill.img"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(106, 72, 138)'"
            [innerStrokeColor]="'rgb(38, 23, 53)'"
            [animation]="true"
            [animationDuration]="800"
            [lazy]="true"     
        ></circle-progress>

     
        <div class="col-sm-4 col-md-2 col-lg-4 align-items-start flex-column" *ngIf="isLogged">
                 <button class="btn btn-light" routerLink="/edithys/{{Skill.id}}">
                     <i class="bi bi-pencil-fill"></i> EDITAR</button>           
                <button class="btn btn-danger" (click)="delete(Skill.id)">
                    <i class="bi bi-trash-fill"></i> BORRAR</button>          
         </div>        
    </div>