<div class="row">
    <h1>Educación y Capacitación</h1>
    <div class="col-lg-12">
    <ul>
        <li>
            <h1>1995 – 1999</h1>
            <p>Educación secundaria completa con el título de “Perito Mercantil con Especialización Contable e Impositiva”
            en Escuela Normal Superior D. F. Sarmiento. Esperanza, Santa Fe.
            </p>
        </li>
    </ul>
    <ul>
        <li>
            <h1>2000 – 2001 </h1>
            <p>Carrera de Medicina incompleta
            en Facultad de Ciencias Médicas – Universidad Nacional de Rosario. Rosario, Santa Fe.</p>
        </li>
    </ul>    
    <ul>
        <li>
            <h1>2002 – 2005</h1>
            <p>Carrera de Técnico Superior en Radiología Industrial con el título de “Técnico Superior en Radiología Industrial”
            en Instituto Superior Autorizado Nº 4080 de Tecnología Médica. Rosario, Santa Fe.</p>
        </li>
    </ul>
    <ul>
        <li>
            <h1>2002 – 2006</h1>
            <p>Carrera de Técnico Superior en Radiología Veterinaria con el título de “Técnico Superior en Radiología Veterinaria”
            en Instituto Superior Autorizado Nº 4080 de Tecnología Médica. Rosario, Santa Fe.</p>
        </li>
    </ul>
    <ul>
        <li>
            <h1>2002 – 2007</h1>
            <p>Carrera de Técnico Superior en Diagnóstico por Imágenes y Terapia Radiante con el título de “Técnico Superior en Diagnóstico por Imágenes y Terapia Radiante", Matrícula Nº 480,
            en Instituto Superior Autorizado Nº 4080 de Tecnología Médica. Rosario, Santa Fe.</p>
        </li>
    </ul>